h1 { 
  color: #0A3161  !important; 
  font:sans-serif !important;
}

body{
background-color: #f7f1e1ff !important;
} 

li::marker {
  content: "✦  ";
}

li {
  color:#0A3161 !important;
    font:sans-serif !important;
}

h3 {
  color:#0A3161 !important;
    font:sans-serif !important;
}

p {
  color:#0A3161 !important;
    font:sans-serif !important;
}

a {
  color:#e9cf96ff !important;
    font:sans-serif !important;
}
