h1 { 
  color: #95504bff  !important; 
}

body{
background-color: #f7f1e1ff !important;
} 

li::marker {
  content: "✦  ";
}

li {
  color:#476b7bff !important;
}

h3 {
  color:#476b7bff !important;
}

p {
  color:#95504bff !important;
}

a {
  color:#e9cf96ff !important;
}
