h1 { 
  color: #0A3161  !important; 
  font-family:monospace !important;
  font-size: 32px;
}

body{
background-color: #f7f1e1ff !important;
} 

li::marker {
  content: "✦  ";
}

li {
  color:#0A3161 !important;
  font-family:monospace !important;
}

h3 {
  color:#0A3161 !important;
  font-family:monospace !important;
}

p {
  color:#0A3161 !important;
  font-family:monospace !important;
}

a{
  color:#e9cf96ff !important;
  font-family:monospace !important;
}
a:hover{
  text-decoration-style: wavy !important;
  color:#d7be87 !important;
}
a:active{
  text-decoration-style: dashed !important;
  color:#83734f !important;
}

@keyframes titles {
  from {
    color:#B31942 !important;
  }
  to {
    color:#0A3161 !important;
  }
}

h1{
  animation:titles 3s ease-in-out infinite alternate !important;
}

img {
  width:300px !important;
}
